* {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    background: #b8b8b8;
    padding: 1rem 0;
  }
  
  .navbar a {
    color: #242323;
    font-size: 2rem;
    text-decoration: none;
  }
  
  .logo {
    font-weight: bold;
  }
  
  .modes a {
    margin: 1rem;
    font-weight: 300;
    font-size: 1.75rem;
  }
  
  h1 {
    text-align: center;
    margin-top: 20rem;
    border: solid 3px black;
    border-radius: 40px;
    font-size: 2.5rem;
    font-weight: 400;
    width: 40%;
    margin-left: 30%;
  }
  
  .button--container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .button--container button {
    padding: 0.75rem;
    font-size: 1.25rem;
    background: none;
    border: solid 3px black;
    border-radius: 25px;
  }
  
  /* Responsiveness */
  
  @media screen and (max-width: 426px) {
    .navbar {
      width: 160%;
    }
  
    .header--container h1 {
      width: 110%;
    }
  
    .button--container {
      width: 160%;
    }
  }